.whole-page {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "ubuntu";
}
.header {
  min-height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}
.top-logo:hover {
  color: #3cb878;
}
.log-in-sign-up-container {
  display: flex;
  align-items: center;
}
.header-icons {
  margin-right: 25px;
}
.header-icons:hover > svg > path {
  fill: #3cb878;
}
.log-in-sign-up {
  font-size: 14px;
  line-height: 14px;
  display: inline;
  padding-left: 25px;
  position: relative;
}
.log-in-sign-up::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: -2px;
}
.log-in-sign-up > a:hover {
  color: #3cb878;
}
.login-form {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.login-form-container {
  min-height: 584px;
  min-width: 444px;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.login-form-container > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: end;
  column-gap: 8px;
  row-gap: 15px;
}
.sign-up {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.sign-up::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  right: 128px;
  top: 2px;
  background: #3cb878;
}
.log-in {
  display: block;
  text-align: right;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.log-in:hover {
  text-decoration: underline;
  color: #01813f;
}
.social-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  width: 160px;
  height: 48px;
  border-radius: 4px;
}
.facebook-btn {
  background: #305db8;
}
.google-btn {
  background: #df4a32;
}
.google-btn > img {
  position: relative;
  top: 0px;
  right: 6px;
}
.facebook-btn::after,
.google-btn::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 48px;
  top: 10px;
  opacity: 0.1;
}
.facebook-btn::after {
  background-color: #0a162f;
}
.google-btn::after {
  background-color: #2b0d09;
}
.facebook-btn:hover {
  background-color: #022263;
}
.google-btn:hover {
  background-color: #ab1f09;
}
.form {
  display: flex;
  flex-direction: column;
}
.or {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.or::after,
.or::before {
  content: "";
  display: inline-block;
  bottom: 2px;
  position: relative;
  width: 152px;
  height: 1px;
  border: 1px solid #f2f2f2;
}
.or::after {
  left: 5px;
}
.or::before {
  right: 5px;
}
.form-element {
  margin-top: 15px;
  min-height: 44px;
  color: #434343;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 15px 20px;
}
.form-element::placeholder {
  color: #bebebe;
}
.form-element:focus {
  border-color: #fff;
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-element-checkbox {
  margin-top: 12px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  cursor: pointer;
}
.form-element-checkbox > input {
  cursor: pointer;
}
.form-element-checkbox > a {
  color: #3cb878;
}
.form-element-checkbox > a:hover {
  text-decoration: underline;
  color: #01813f;
}
.form-element-button {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}
.form-element-button:hover {
  background: #01813f;
}
